h1
{
    position : relative;
    margin : auto;
    top: 5vw;
    color: #444444;
    position : relative;
    left : 2vw;
    font-size:2vw;
    font-family:Arial,serif;
}

h2
{
    position : relative;
    margin : auto;
    color: black;
    top : 5vw;
    left : 2vw;
    font-size:2vw;
    font-family:Arial,serif;
}

h3
{
    margin-left:5vw;
}

.box
{
    background-color: #aaaaff;
    width : 90vw;
    height : 35vw;
    left : 50%;
    margin-top : 2vw;
    margin-left: 3vw;
    box-shadow : 0px 0px 10px 4px grey;
    border-radius : 5px;
}

.id
{
    margin : 2vw;
}

.textbox1
{
    position : relative;
    background-color:rgba(0,0,255,.1);
    margin : auto;
    float: right;
    right: 4vw;
    border-radius: 5vw;
    box-shadow : 2px solid #888888;
    width :45vw;
    height :2vw;
}

.textbox2
{
    position : relative;
    background-color:rgba(0,255,255,.1);
    margin : auto;
    float : right;
    right: 4vw;
    border-radius: 5vw;
    box-shadow : 2px solid #888888;
    width :45vw;
    height :2vw;
}

.button
{
    border-radius: 5px;
    margin-top: 4vw;
    margin-right: auto;
    margin-left: auto;
    display: block;
    background-color : #aaaaff;
    box-shadow: 0px 0px 15px #ffffff;
    top : 5vw;
    left  :5vw;
    width: 30vw;
    height:5vw;
}

.button1
{
    background-color : #888888;
    display: block;
    margin-top: 4vw;
    margin-left: 5vw;
    box-shadow: 0px 0px 15px #ffffff;
    border-radius: 5px;
    width: 30vw;
    left  :10vw;
    height:5vw;
}

.button2
{
    background-color : #888888;
    display: block;
    box-shadow: 0px 0px 15px #ffffff;
    border-radius: 5px;
    width: 30vw;
    left : 10vw;
    height: 5vw;
}

.button:hover
{
    background-color : #bbbbff;
}

.button1:hover
{
    background-color : #aaaaaa;
}

.button2:hover
{
    background-color : #aaaaaa;
}

.autist
{
	
	background-color: black;
	margin-right: 40wv;
}
